{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<h1>News Site</h1>
    <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at hic nihil, optio possimus suscipit veritatis! A, excepturi facilis iure laborum officia qui quibusdam quos tenetur. Accusamus vero voluptates voluptatum!</p>
    <hr>
    </div>
{% endblock %}
