{% extends 'base.html' %}

{% block content %}

    <p>Hello! You can register here!</p>
    <form action="/register" method="post">Fill your data bellow:
        {{ form.hidden_tag() }}
    <p>
        {{ form.username.label() }}
        {{ form.username() }}
    </p>
    <p>
        {{ form.password.label() }}
        {{ form.password() }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
    </form>
    <div>
        {% for category, message in get_flashed_messages(True) %}
            {{ category }}:{{ message }}
        {% endfor %}
    </div>

{% endblock %}